<style type="text/css">
     table {
          border-collapse: collapse;
     }

     table, th, td {
          border: 1px solid black;
          margin: 5px;
          padding: 5px;
     }
</style>

All Sent SMS => {{ countAllSent }} <br />
All Succ Sent SMS => {{ countAllSuccSent }} <br />
eachProviderUsage => <br />
{% for key,value in eachProviderUsage %}
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ value.api_gateway }} : {{ value.cnt }} <br />
{% endfor %} <br />


Each Provider Fault Percentage:
{% for key,p in providersLog %}
     <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ key }} : {{ ((p['failed'] * 100) / (p['sum']))|round }}%
{% endfor %}


<br />Most 10 Reciver
<table style="width: 10%; border: thin solid navy; padding: 4px" >

     <tr>
     <th>Number</th>
     <th>count</th>
     </tr>
{%  for value in mostTenMessageReceivers %}
     <tr>
          <td>{{ value.number }}</td>
          <td>{{ value.cnt }}</td>
     </tr>
{% endfor %}
</table>